@font-face{
    font-family: robotocondensed;
    src:url(assets/roboto-condensed.light.ttf);
    font-weight: 300
}

@font-face{
    font-family: economicabold;
    src:url(assets/economica-bold.ttf);
}

body{
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'robotocondensed'
}

h1,h2,h3,h4,h5,h6{
    font-family: 'economicabold';

}



